/* meadia queries for small devices  */
@media screen and (max-width:576px) {
    nav, nav ul {
        flex-direction: column;
    }
    nav {
        height: auto;
    }
    .logo-container {
        margin-bottom: 20px;
    }
    nav, .banner-container {
        padding: 20px;
    }
    .banner-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 70px;

    }
    .banner-content {
        width: 100%;
    }
    
    
}

/* media querie for medium devices  */

@media screen and (min-width:577px) and (max-width:960px) {
    .banner-content {
        width: auto;
    }
}