/* meadia queries for small devices  */
@media screen and (max-width:576px) {
    nav, nav ul {
        flex-direction: column;
    }
    nav {
        height: auto;
    }
    .logo-container {
        margin-bottom: 20px;
    }
    nav, .banner-container {
        padding: 10px;
    }
    .banner-container {
        flex-direction: column-reverse;
        text-align: center;

    }
    .banner-content {
        width: 100%;
    }
    main, .video-container {
        padding: 0;
    }
    .video-section, .play-game-section, .game-section{
        padding: 10px;
    }
    .section-title {
        font-size: 1.7rem;
    }
    .video-container {
        flex-direction: column;
    }
    .play-game-container {
        flex-direction: column-reverse;
        gap: 30px;
        
        padding-bottom: 100px;
    }
     .play-game-text {
        width: auto;
        text-align: center;
    }
    .play-game-img, .play-game2 {
        width: 70%;
    }
    .game-section {
        margin-bottom: 50px;
        padding: 20px;
        
    }
    .game-name {
        font-size: 14px;
    }
    .game {
        width: 100px;
        gap: 8px;
    }
    .footer-link, .social-link, .privacy {
        flex-wrap: wrap;
    }
    .social-link {
        column-gap: 70px;
    }
    .footer-section {
        padding: 0 50px;
    }
}

/* media querie for medium devices  */

@media screen and (min-width:577px) and (max-width:960px) {
    .banner-content {
        width: auto;
    }
    main  {
        padding: 0;
    }
    .footer-link, .privacy {
        flex-wrap: wrap;
    }
    .footer-link {
        padding: 0 20px;
    }

}