/* common shared styles  */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5.9rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  cursor: pointer;
}
.btn-secondary {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5.9rem;
  background: #4ec5f7;
  cursor: pointer;
}

/* header section  */

nav {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 0 3rem;
}

.logo-container {
  display: flex;
  gap: 1.3rem;
}
.highlight-text {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 1.3rem;
}
nav a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.link-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 20px;
  display: flex;
}
/* banner section  */
.banner-container {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/Group\ 14.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content {
  width: 50%;
}
.banner-title {
  color: #0b0223;
  font-size: 30px;
  font-weight: 600;
}
.highlight-heading {
  font-size: 64px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-container p {
  color: #534c64;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.banner-container .banner-lowercase {
  color: #534c64;
  font-size: 1.3rem;
  font-weight: 500px;
  text-transform: lowercase;
}
.banner-img {
  width: 100%;
  height: 100%;
}

/* main section  */
main {
  padding: 0 50px;
  margin-top: 50px;
}

/* video section  */
.video-section {
  margin: 50px 0;
  padding: 0 50px;
  text-align: center;
}
.video-container {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
.video-img {
  width: 100%;
}
.section-title {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 700;
}
.video-title-highlight {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 700;
}
.video-section-description {
  margin-top: 8px;
  color: #534c64;
  font-size: 18px;
}

/* play section  */
.play-game-section {
  padding: 0 50px;
}

.play-game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-game-img {
  width: 30%;
  position: relative;
}
.play-game-text {
  width: 30%;
}
.play-game-positioned {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 75%;
  bottom: -20%;
}
.play-game1 {
  width: 100%;
  height: 100%;
}
.play-game2 {
  width: 100%;
  height: 100%;
}
.play-game-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-decription {
  margin-top: 10px;
  color: #534c64;
  font-size: 18px;
}

/* game section  */
.game-section {
  padding: 50px;
  margin-top: 90px;
}
.game-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.game {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: #fff;
}
.game:hover {
  border: 1px solid #f948b2;
}
.game .game-name:hover {
  color: #f948b2;
}
.game-icon {
  width: 30px;
}
.game-name {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}

/* footer section  */
.footer-section .logo-container {
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 60px;
}
.footer-section h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}
.footer-section {
  background: #0b0223;
  /* height: 50vh; */
}
.footer-link,
.social-link,
.privacy {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.footer-link,
.privacy {
  list-style: none;
}
.footer-link a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.privacy a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.footer-section p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  padding: 50px;
}
